@model IEnumerable<EcommerceMVC.Areas.Admin.Models.HangHoaModel>

@{
    ViewData["Title"] = "Quản lý hàng hóa";
    Layout = "_LayoutAdmin";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>QL hàng hóa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">QL hàng hóa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header row justify-content-around">
                    <h3 class="card-title">Bảng dữ liệu hàng hóa</h3>
                    <a asp-action="Create" asp-controller="Product" class="btn btn-success text-white">Thêm hàng hóa</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <table id="customer-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã hàng hóa</th>
                                        <th>Tên hàng hóa</th>
                                        <th>Loại</th>
                                        <th>Mô tả đơn vị</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng tồn</th>
                                        <th>Hình</th>
                                        <th>Ngày sản xuất</th>
                                        <th>Giảm giá</th>
                                        <th>Mô tả</th>
                                        <th>Nhà cung cấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MaHh</td>
                                            <td>@item.TenHh</td>
                                            <td>@item.MaLoaiNavigation.TenLoai</td>
                                            <td>@item.MoTaDonVi</td>
                                            <td>@item.DonGia</td>
                                            @if(item.SoLuongTon <= 10)
                                            {
                                                <td class="text-danger">@item.SoLuongTon</td>
                                            }
                                            else
                                            {
                                                <td>@item.SoLuongTon</td>
                                            }
                                            <td><img src="~/Hinh/HangHoa/@item.Hinh" style="width: 70px; height: 40px;" alt="@item.TenHh"></img></td>
                                            <td>@item.NgaySx</td>
                                            <td>@item.GiamGia</td>
                                            <td>@item.MoTa</td>
                                            <td>@item.MaNccNavigation.TenCongTy</td>
                                            <td>
                                                <a class="btn btn-info btn-sm mb-2" asp-controller="Product" asp-action="Edit" asp-route-id="@item.MaHh">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    Sửa
                                                </a>
                                                <a class="btn btn-danger btn-sm text-white delete-button" data-url="@Url.Action("Delete", "Product", new { id = @item.MaHh })">
                                                    <i class="fas fa-trash"></i>
                                                    Xóa
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section Scripts {
    <script>
        $('.delete-button').on('click', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            if (confirm("Bạn có chắc chắn muốn xóa hàng hóa này không?")) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        // Xử lý sau khi xóa thành công, ví dụ: tải lại trang
                        location.reload();
                    }
                });
            }
        });
    </script>
}