@model IEnumerable<EcommerceMVC.ViewModels.HoaDonVM>

<table class="table">
    <thead>
        @if(Model.Count() <= 0)
        {
            <tr>
                <th scope="col">Không có đơn hàng nào</th>
            </tr>
        }
        else
        {
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Ngày đặt hàng</th>
                <th scope="col">Ngày giao (dự kiến)</th>
                <th scope="col">Thanh toán</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
            </tr>
        }
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>
                        @item.MaHd
                    </p>
                </td>
                <td>
                    <p>
                        @item.NgayDat
                    </p>
                </td>
                <td>
                    <p>
                        @item.NgayGiao
                    </p>
                </td>
                <td>
                    <p>
                        @item.CachThanhToan
                    </p>
                </td>
                <td>
                    @if (item.MaTrangThai == 0)
                    {
                        <div class="d-inline-block bg-warning p-1 rounded text-black text-center">mới đặt hàng</div>
                    }
                    else if (item.MaTrangThai == 1)
                    {
                        <div class="d-inline-block bg-success p-1 rounded text-white text-center">Đã thanh toán</div>
                    }
                    else if (item.MaTrangThai == 2)
                    {
                        <div class="d-inline-block bg-warning p-1 rounded text-black text-center">chờ giao hàng</div>
                        <br />
                        <a asp-action="ChangeStatus" asp-controller="Cart" asp-route-id="@item.MaHd"> (Xác nhận đã nhận hàng) </a>    
                    }
                    else if (item.MaTrangThai == 3)
                    {
                        <div class="d-inline-block bg-success p-1 rounded text-white text-center">hoàn thành</div>
                    }
                    else if (item.MaTrangThai == -1)
                    {
                        <div class="d-inline-block bg-danger p-1 rounded text-white text-center">Đã hủy</div>
                    }
                </td>
                <td class="d-flex">
                    <a asp-action="OrderDetails" asp-controller="Cart" asp-route-id="@item.MaHd" class="btn btn-outline-primary" style="margin-left: 2px;">Chi tiết</a>
                    @if (item.MaTrangThai == 0)
                    {
                        <a asp-action="ChangeStatus" asp-controller="Cart" asp-route-id="@item.MaHd" class="btn btn-danger">Hủy</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>